{{ partial "header_docs.html" . }}

<div id="corePage" class="contents site">
  <nav>
    {{ with .Params.categories }}
    <div>Categories:{{ range . }} <a href="/categories/{{ . }}/">{{ . }}</a>{{ end }}</div>
    {{ end }}
    {{ with .Params.tags }}
    <div>Tags:{{ range . }} <a href="/tags/{{ . }}/">#{{ . }}</a>{{ end }}</div>
    {{ end }}

    {{ range .Data.Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </nav>

  <div class="sideMenu docs">
    <h3>ATOMIC PARTS</h3>
    <ul class="navList">
      {{ with .Section }}
      <li class="title">BASE</li>
      <li><a href="/{{ . }}/base.html">Base</a></li>
      <li><a href="/{{ . }}/utility.html">Utility</a></li>
      <li><a href="/{{ . }}/text.html">Text</a></li>
      <li><a href="/{{ . }}/title.html">Title</a></li>
      <li><a href="/{{ . }}/button.html">Button</a></li>
      <li><a href="/{{ . }}/list.html">List</a></li>
      <li><a href="/{{ . }}/thumbnail.html">Thumbnail</a></li>
      <li class="title">NAVIGATIONS</li>
      <li><a href="/{{ . }}/nav.html">Nav</a></li>
      <li><a href="/{{ . }}/navbar.html">Navbar</a></li>
      <li><a href="/{{ . }}/subnav.html">Subnav</a></li>
      <li><a href="/{{ . }}/breadcrumb.html">Breadcrumb</a></li>
      <li><a href="/{{ . }}/pagination.html">Pagination</a></li>
      <li><a href="/{{ . }}/tab.html">Tab</a></li>
      <li><a href="/{{ . }}/thumbnav.html">ThumbNav</a></li>
      <li class="title">BOX</li>
      <li><a href="/{{ . }}/box.html">Box</a></li>
      <li><a href="/{{ . }}/table.html">Table</a></li>
      <li><a href="/{{ . }}/column.html">Column</a></li>
      <li><a href="/{{ . }}/badge.html">Badge</a></li>
      <li><a href="/{{ . }}/alert.html">Alert</a></li>
      <li><a href="/{{ . }}/form.html">Form</a></li>
      <li><a href="/{{ . }}/icon.html">Icon</a></li>
      <li><a href="/{{ . }}/modalwindow.html">ModalWindow</a></li>
      <li><a href="/{{ . }}/progressbars.html">ProgressBars</a></li>
      <li><a href="/{{ . }}/overlay.html">Overlay</a></li>
      <li><a href="/{{ . }}/animation.html">Animation</a></li>
      <li><a href="/{{ . }}/header.html">Header</a></li>
      <li><a href="/{{ . }}/footer.html">Footer</a></li>
      {{ end }}
    </ul>
  </div>

  <article class="contents docs">
    {{ .Content }}

    <div class="author">{{ .Params.author }}</div>
    <p class="times docs"><time pubdate="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time></p>
  </article>
</div>


{{ partial "footer.html" . }}

