@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap&subset=japanese");
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/*
 * Mixin Style
*/
/***
 ** Atomic Parts Contents
  - Bg Style
  - Header Style
  - Footer Style
  - Paragraph style
  - Title Style
  - Navigation & Menu Style
  - Button Style
  - Box Style
  - List Style
  - Table Style
  - Modal Style
  - Form Style
  - Separate Style
  - Animation Style
  - Media Queries Style
 **
***/
/* Header Style
-------------------------------------------------- */
.header.docs {
  height: 60px;
  background: none;
  padding: 35px 0 0 0;
}

.header.docs .wrap {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.header.docs .wrap h1 {
  padding-top: 16px;
}

footer.footer {
  position: relative;
  height: 400px;
  background: #2f233a;
  color: #9d98a3;
}

footer.footer a {
  color: #9d98a3;
  text-decoration: none;
}

footer.footer a:hover {
  color: #fff;
}

footer.footer .top > .wrap {
  display: flex;
  width: 1080px;
  margin: 0 auto;
  padding: 70px 10px 0;
  font-size: 12px;
}

footer.footer .top > .wrap .left {
  width: 282px;
}

footer.footer .top > .wrap .left .logo.footerLogo {
  margin-bottom: 12px;
}

footer.footer .top > .wrap .left .list.creatorList {
  margin-top: 5px;
}

footer.footer .top > .wrap .left .list.creatorList > li {
  margin-bottom: 6px;
}

footer.footer .top > .wrap .box.menuList {
  display: flex;
}

footer.footer .top > .wrap .box.menuList dt {
  color: #fff;
}

footer.footer .top > .wrap .box.menuList dl {
  width: 118px;
}

footer.footer .top > .wrap .box.menuList dd {
  margin-top: 16px;
}

footer.footer .top > .wrap .socialList {
  display: flex;
  margin-left: 40px;
}

footer.footer .top > .wrap .socialList > li {
  margin-left: 15px;
}

footer.footer .top > .wrap .socialList > li .icon {
  font-size: 16px;
}

footer.footer .text {
  color: #9d98a3;
  font-size: 12px;
}

footer.footer .bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 84px;
  padding: 40px 0 0 0;
  background: #180721;
  font-size: 12px;
}

footer.footer .bottom .text.license {
  margin-bottom: 12px;
}

/* Paragraph style
-------------------------------------------------- */
.times.docs {
  text-align: right;
}

/* Title Style
-------------------------------------------------- */
.title.article.sub {
  margin: 15px 0;
  padding-left: 6px;
  border-left: 3px solid #1FA2D6;
  font-size: 16px;
  line-height: 16px;
}

/* Navigation & Menu Style
-------------------------------------------------- */
.sideMenu.docs.docs {
  float: left;
  width: 230px;
}

/* Box Style
-------------------------------------------------- */
/*
 * Contents
*/
.contents.site {
  width: 1100px;
  min-height: 600px;
  margin: 0 auto;
  padding-top: 40px;
}

.contents.site::after {
  content: "";
  display: block;
  clear: both;
}

.contents.docs {
  float: left;
  width: 870px;
}

.contents.docs > h2 {
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 42px;
}

.contents.docs > h3 {
  margin: 20px 0;
  font-size: 30px;
  line-height: 1.5;
}

.contents.docs > h4 {
  margin: 20px 0;
  font-size: 24px;
  line-height: 1.5;
}

.contents.docs > p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.contents.docs > pre {
  margin-bottom: 20px;
}

/*
 * Box
*/
.box.article.example {
  margin: 25px 0;
}

/* List Style
-------------------------------------------------- */
.docsHeaderMenuList {
  display: flex;
  padding: 7px 0 0 0;
}

.docsHeaderMenuList li {
  padding: 0 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.docsHeaderMenuList li a {
  color: #fff;
  text-decoration: none;
}

.docsHeaderMenuList li:hover a,
.docsHeaderMenuList li.active a {
  color: #00ffac;
  text-decoration: underline;
}

.docsIconList {
  display: flex;
  flex-wrap: wrap;
}

.docsIconList li {
  width: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.pic.circleList {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1100px;
  z-index: 1;
  overflow: hidden;
}

.pic.circleList > li {
  position: absolute;
  display: block;
  opacity: 0.1;
  border-radius: 100%;
  background-color: #fff;
}

.pic.circleList > li:nth-child(1) {
  top: 76.83%;
  left: 18.45%;
  width: 200px;
  height: 200px;
}

.pic.circleList > li:nth-child(2) {
  top: 70.666%;
  left: 6.545%;
  width: 120px;
  height: 120px;
}

.pic.circleList > li:nth-child(3) {
  top: 34.3333%;
  left: 0;
  width: 120px;
  height: 120px;
}

.pic.circleList > li:nth-child(4) {
  top: 32.283333%;
  left: 50.072%;
  width: 78px;
  height: 78px;
}

.pic.circleList > li:nth-child(5) {
  top: 44.3333%;
  right: 0.2%;
  width: 78px;
  height: 78px;
}

.pic.circleList > li:nth-child(6) {
  top: 81.5%;
  right: 11%;
  width: 120px;
  height: 120px;
}

.pic.circleList > li:nth-child(7) {
  top: 79%;
  right: 11%;
  width: 76px;
  height: 76px;
}

.pic.circleList > li:nth-child(8) {
  top: 62.833%;
  right: 29.5%;
  width: 120px;
  height: 120px;
}

#top .topView {
  margin-bottom: 120px;
}

#top .topView .wrap {
  position: relative;
  z-index: 100;
}

#top .topView .mainView {
  position: relative;
  height: 600px;
  min-width: 1100px;
  background-image: linear-gradient(91deg, #321143 1%, #521881 65%, #321143 100%);
  color: #fff;
}

#top .topView .mainView .picture {
  margin: 7px 93px 0 0;
}

#top .topView .mainView .text.docsTop.description {
  margin-top: 57px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: 1.6px;
  color: #fff;
}

#top .topView .box.docsTopMainBox {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 100px auto 0;
}

#top .topView .box.docsTopMainBox .btn {
  margin-top: 35px;
}

#top .topView .box.docsTopMainBox .btn,
#top .topView .box.docsTopMainBox .btn a {
  width: 156px;
  height: 43px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(50, 50, 93, 0.11);
  background-color: #00ffac;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 43px;
  letter-spacing: 0.4px;
  font-family: LucidaGrande;
  color: #33155c;
}

#top .topView .featuresView > .wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 102px 0 70px;
}

#top .topView .featuresView > .wrap .title {
  font-size: 32px;
  color: #2D1B49;
}

#top .topView .featuresView > .wrap .title.docsTop {
  margin-bottom: 15px;
  font-weight: bold;
}

#top .topView .featuresView > .wrap .text.description {
  margin-bottom: 60px;
  font-size: 16px;
  color: #453b4f;
  line-height: 1.8;
}

#top .topView .featuresView > .wrap .logo.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

#top .topView .featuresView > .wrap .title.picture {
  margin-top: 10px;
  color: #6d7982;
  font-size: 20px;
  font-weight: bold;
}

#top .topView .featuresView > .wrap .text.picture {
  margin-top: 25px;
  color: #6d7982;
  font-size: 14px;
  line-height: 1.8;
}

#top .topView .featuresView.blue {
  background: #3DC0F1;
  color: #fff;
}

#top .topView .featuresView.blue .text {
  color: #fff;
}
