.times {
  &.docs {
    text-align: right;
  }
}
.text.docsLeadText {
  font-size: 24px;
  line-height: 1.5;
  color: #222;
  font-weight: 300;
}

.tm-sidebar-right,
.tm-sidebar-left {
  font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.docsMainContainer {
  & > p {
    font-family: ProximaNova, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}
